cfdi/Web References/generaCFDI.wsdl

<definitions xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="urn:respuestaTimbrado" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:respuestaTimbrado">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:respuestaTimbrado">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/"/>
      <xsd:complexType name="respuestaTimbrado">
        <xsd:all>
          <xsd:element name="documentoProcesado" type="xsd:string"/>
          <xsd:element name="codigoResultado" type="xsd:string"/>
          <xsd:element name="codigoDescripcion" type="xsd:string"/>
        </xsd:all>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="generaCFDIRequest">
    <part name="usuario" type="xsd:string"/>
    <part name="password" type="xsd:string"/>
    <part name="documentoXML" type="xsd:string"/>
  </message>
  <message name="generaCFDIResponse">
    <part name="return" type="tns:respuestaTimbrado"/>
  </message>
  <portType name="generaCFDIPortType">
    <operation name="generaCFDI">
      <input message="tns:generaCFDIRequest"/>
      <output message="tns:generaCFDIResponse"/>
    </operation>
  </portType>
  <binding name="generaCFDIBinding" type="tns:generaCFDIPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="generaCFDI">
      <soap:operation soapAction="http://localhost/servicetomza/generaCFDI.php/generaCFDI/generaCFDI/generaCFDI" style="rpc"/>
      <input>
        <soap:body use="encoded" namespace="urn:respuestaTimbrado" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:respuestaTimbrado" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
      </output>
    </operation>
  </binding>
  <service name="generaCFDI">
    <port name="generaCFDIPort" binding="tns:generaCFDIBinding">
      <soap:address location="http://localhost/servicetomza/generaCFDI.php/generaCFDI/generaCFDI"/>
    </port>
  </service>
</definitions>